/* Обнуление */

* {
	margin: 0;
	padding: 0;

}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h1 {
  font-family: 'Playfair Display', serif;
}

body {
	box-sizing: border-box;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 16px;
}

header {
	width: 100%;
	position: relative;
	display: flex;
}


nav {
  float: right;
	margin-top: 36px;
	margin-left: 25%;
}

.my_nav  a {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
    text-transform: uppercase;
  	color: #fff;
  	text-align: center;
  	padding: 0 10px;
  	font-size: 13px;

}

.my_nav  a:hover {
	color: #00e0d0;
}

.my_nav .icon {
	display: none;
}

.nav_image {
	display: block;
	position: relative;

	background-image: url(images/forest.png);
	background-size: cover;
}

.main_welcome {
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
	padding: 160px 0 0 0;
}

.main_welcome h1 {
	font-size: 32px;
	color: #fff;
}

.main_welcome h1::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 50px;
	padding-top: 27px;
	border-bottom: 1px solid #00e0d0;
}

.main_welcome p {
	color: #fff;
	text-align: center;
	padding: 30px 80px 53px 80px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

.my_button a {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border: 1px solid #00e0d0;
	border-radius: 3px;
	color: #00e0d0;
	padding: 12px 17px 12px 17px;
}

.my_button a:hover {
	background-color:#00e0d0;
	color: black;
	transition: 0.1s ease-out 0.1s
}

.main_welcome ul {
	display: flex;
  justify-content: space-between;
	width: 55px;
	text-align: center;
  padding: 127px 0 70px 0;
  margin: 0 auto;
}

.main_welcome li {
	position: relative;
	margin: 0;
	padding: 0;
}

.our_story_container {
	display: grid;
	grid-template-columns: 25% 75%;
}

.our_story  {
	padding-top: 71px;
}

.our_story img {
	margin-top: 8px;
	margin-left: 70px;
}

.our_story h2 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: #413d4b;
	padding-left: 60px;
}

.our_story p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #716e78;
}

.our_story p:first-of-type {
	padding-top: 28px;
	padding-left: 60px;
}

.our_story p {
	padding-top: 34px;
	padding-right: 60px;
	padding-left: 60px;
}

.about_us .our_story_my_button {
	margin-top: 34px;
	margin-bottom: 69px;;
	margin-left: 59px;
}

.our_story_my_button a {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border: 1px solid #00e0d0;
	border-radius: 3px;
	color: #00e0d0;
	padding: 12px 17px 12px 17px;
}

.our_story_my_button a:hover {
	background-color:#00e0d0;
	color: black;
	transition: 0.1s ease-out 0.1s
}


.about_us {
	padding-left: 100px;
}


.video_block {
	display: flex;
	background-image: url(images/videoImage.png);
	background-size: cover;
	text-align: center;
}

.video_block a {
	display: inline-block;
	margin-top: 200px;
}

/* .video_block img:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition: 0.5s ease-out 0.5s
} */

.video_block p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-top: 34px;
	padding-bottom: 200px;

}


.work_fields h2+p {
	font-family: 'Playfair Display', serif;
}

.work_fields h2 {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-top: 70px;
	color: #413d4b;
}

.work_fields p {
	text-align: center;
	font-size: 14px;
	color: #78767c;
	margin-top: 17px;
}

.after_line::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 50px;
	padding-top: 20px;
	border-bottom: 2px solid #c6c4c9;
}

.services_cards_row_1 {

	margin-top: 84px;
}

.services_cards_row_1 img {
	width: 49px;
	height: 49px;
}

.services_cards_row_1 ul {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap:90px;
}

.services_cards_row_1 li {
	overflow: hidden;
}


.services_cards_row_1 h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	color: #78767c;
	margin-top: 35px;
}

.services_cards_row_1 p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #78767c;
	margin-top: 28px;
}

.services_cards_row_2 ul {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap:90px;
}

.services_cards_row_2 {
	margin-top: 84px;
	margin-bottom: 104px;
}

.services_cards_row_2 li {
	overflow: hidden;
}

.services_cards_row_2 h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	color: #78767c;
	margin-top: 35px;
}

.services_cards_row_2 p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #78767c;
	margin-top: 28px;
}

.team_card_panel {
	background: url(images/forest2.png);
	background-size: cover;

	overflow: hidden;
	text-align: center;
}

.team_cards ul {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-grow: 10px;
	margin-top: 47px;
}

.team_card_panel .team_cards img {
	width: 100%;
		box-sizing: content-box;
}

.team_card_panel h2 {
	color: #ffffff;
	margin-top: 70px;
}

.team_card_panel .after_line p {
	color: #f9f9f9;
	margin-top: 20px;
}

.team_card_panel .after_line::after {
    border-bottom: 2px solid #655c80;
}

.team_card_panel .team_cards h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	color: #f3f3f5;
	padding-top: 20px;
}

.team_card_panel .team_cards li {
	border-top: 1px #78767c solid;
	border-left: 1px #78767c solid;
	border-right: 1px #78767c solid;
	border-bottom: 1px #78767c solid;
}

.team_card_panel .team_cards p {
	margin-top: 12px;
	margin-bottom: 27px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #9e9cae;
}

.team_card_panel p {
	margin-top: 70px;
}

.team_card_panel p:last-of-type {
	color: #bab9c5;
}

.team_card_panel .team_card_panel_my_button {
	margin-top: 42px;
	margin-bottom: 70px;
}

.team_card_panel .team_card_panel_my_button a {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border: 1px solid #00e0d0;
	border-radius: 3px;
	color: #00e0d0;
	padding: 12px 17px 12px 17px;
}

.team_card_panel .team_card_panel_my_button a:hover {
	background-color:#00e0d0;
	color: black;
	transition: 0.1s ease-out 0.1s
}

.our_works {
	text-align: center;
}

.our_works .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.our_works h3 {
	margin-top: 70px;
	font-family: 'Playfair Display', serif;
	font-size: 23px;
	font-weight: 700;
	color: #413d4b;
}


.our_works .wrapper a {
	margin-top: 65px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #413d4b;
}

.our_works .wrapper  img {
	position: relative;
	color: #6c6c6c;
	width: 10px;
	height: 15px;
	vertical-align: middle;
	margin-left: 9px;
}

.our_works .our_works_row  {
	margin-top: 65px;
}

.our_works .our_works_row ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.our_works .our_works_row ul li img {
	width: 100%;
	height: 100%;
}

.our_works .our_works_my_button  {
	margin-top: 70px;
	margin-bottom: 70px;
}

.our_works .our_works_my_button a {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border: 1px solid #00e0d0;
	border-radius: 3px;
	color: #00e0d0;
	padding: 12px 17px 12px 17px;
}

.our_works .our_works_my_button a:hover {
	background-color:#00e0d0;
	color: black;
	transition: 0.1s ease-out 0.1s
}


.people_say_wrapper {
	width: 760px;
	margin: 0 auto;
}

.people_say {
	text-align: center;
	background: url(images/forest3.png);
	background-size: cover;
	width: 100%;
}


.colon {
	padding-top: 70px;
}

.people_say p {
	margin-top: 47px;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #bfbbc9;
}

.people_say h3 {
	margin-top: 55px;
	font-family: 'Roboto', serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #ffffff;
}


.people_say .people_say_position p {
	margin-top: 13px;
	color: ##bfbbc9;
}

.people_say_images .back_bracket img {
	position: relative;
	padding-top: 10px;
	width: 11px;
	height: 21px;
}

.people_say_images .back_bracket img:hover {
	position: relative;
	padding-top: 10px;
	width: 11px;
	height: 21px;
}

.people_say_images .forward_bracket img {
	position: relative;
	padding-top: 10px;
	width: 11px;
	height: 21px;
	color: #9f9f9f;
}

.people_say_images .forward_bracket img:hover {
	position: relative;
	padding-top: 10px;
	width: 11px;
	height: 21px;
}

.people_say_images img {
	width: 45px;
	height: 45px;
}

.people_say_images img:hover {
	width: 70px;
	height: 70px;
	transition: 0.3s ease-in-out 0.1;
}

.people_say ul {
	display: inline-flex;
	justify-content: space-between;
}

.people_say ul li {
padding: 59px 16px 70px 16px;
}



/* Responsiveness Adaptive */

@media screen and (max-width: 1010px) {
	.my_nav a{
		display: none;
	}
	.my_nav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav {
		width: 100%;
	}

	.my_nav.responsive{
		position: relative;
		top: 30px;
		left: -200px;
	}

	.my_nav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.my_nav.responsive a{
		float: none;
		display: block;
		text-align: left;
		padding-top: 20px;
	}

	.main_welcome {
		padding: 110px 0 95px 0;
	}

	.our_story {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

		.our_story_container {
			display: block;
		}

		.our_story_container  {
			margin: 0 auto;
		}

		.BigLogo {
			display: none;
		}

		.about_us {
	    padding-left: 50px;
	}

	.team_cards ul {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.team_cards li {
	margin-bottom: 20px;
	}

	.team_card_panel .wrapper {
		width: 100%;
	}



}

@media screen and (max-width: 540px) {
	.nav_image {
		height: 860px
	}




}
